<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruticola Vereda - Servicios</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\MI EQUIPO\Desktop\Programacion\FV\arhivo\Statics\social\icomoon\style.css">
    <style>
      body { background-image: url(https://thumbs.dreamstime.com/z/abstract-background-9407215.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
      }

      nav { background-image: linear-gradient(to right, #dedfde, #efefef);
      }
      
      a {color: black;
        
      }

      h5 {text-align: initial; font-style: oblique; font-family: auto; text-decoration-thickness: from-font; text-decoration-line: underline; font-size: xx-large; text-shadow: 0 0 black;;
      }
      #hovered1 {
                transition: background-color .5s;

      }
      #hovered1:hover {
        background-color: #15c3f886;
      }
      #hovered2 { transition: .5s;

      }
      #hovered2:hover {
        background-color: #fcb901c5;
      }
      #hovered3 { transition: .5s;

      }
      #hovered3:hover {
        background-color: #18ec18bd;
      }
      #hovered4 { transition: .5s;
      }
      #hovered4:hover {
        background-color: #f73d3dd3;
      }
      .social ul{
        display: flex;
        flex-wrap: nowrap;
        list-style: none;
        flex-direction: row;
        justify-content: space-evenly
      }
      
      .social ul li .icon-facebook2{background: #395591;}
      .social ul li .icon-linkedin2{background: #3c75f1;}
      .social ul li .icon-instagram{background: #fc3862;}
      .social ul li .icon-whatsapp{background: #0cda16;}
      .social ul li .icon-envelop{background: #adadad;}
      
      .social ul li a:hover{
        padding: 10px 30px;
      }
      .social ul li a{
        display: flex;
        flex-wrap: nowrap;
        color: #fff;
        background: #000;
        padding: 10px 15px;
        text-decoration: none;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
      }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 50px;">
        <a class="navbar-brand" href="index.html"><img src="FruticolaVereda\Statics\index\logoo.png" alt="Logo" style="width: 250px; transform: rotate(1deg)"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" id="hovered2" href="index.html">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-link" id="hovered3" style="color: black;" data-toggle="modal" data-target="#exampleModal">
            Contáctenos
          </button>
        
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" style="    border-bottom: none">
                <div class="modal-header" style="color: darkorange; background-color: chartreuse; border-color: darkorange; border-bottom: solid">
                  <h4 class="modal-title" id="exampleModalLabel">Contáctos</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p style="font-family: cursive; font-size: small">Horarios de atención: <br> Lunes a viernes: de 08:00 a 12:00 y de 15:30 a 19:30 hs <br>
                    Sábados: de 09:00 a 12:30 hs</p>
                </div>
                    <div>
                      <p class="card-text">
                        <img src="FruticolaVereda\Statics\index\whasapp.jpg" style="width: 80px;font-family: cursive; font-size: larger;" > <a data-toggle="collapse"  href="#wapCollapse" role="button" aria-expanded="false" aria-controls="collapseExample" > WhatsApp </a> <br>
                          <div class="collapse" id="wapCollapse">
                            <div class="card card-body">
                              2634-342099  (Juan Jose Vereda) <br>
                              2634-514495  (Silvana Silvestri)
                            </div>
                          </div>
                        <img src="FruticolaVereda\Statics\index\mail.png" style="width: 45px;height: 45px;font-family: cursive;font-size: larger;margin-left: 20px;margin-right: 15px;"> <a data-toggle="collapse"  href="#mailCollapse" role="button" aria-expanded="false" aria-controls="collapseExample" > Mail </a>
                          <div class="collapse" id="mailCollapse">
                            <div class="card card-body">
                              <p> <a href="mailto:info@fruticolavereda.com.ar">info@fruticolavereda.com.ar</a> <br>
                               <a href="mailto:juanjovereda@yahoo.com">juanjovereda@yahoo.com</a>
                              </p>
                            </div>
                          </div>                    
                      </p>
                  </div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal" style="color: darkorange; background-color: chartreuse; border-color: chartreuse; font-weight: 600;">Volver</button>              
                </div>
            </div>
          </div>
        
        </li>
        <li class="nav-item dropdown" id="hovered2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
            Quiénes somos?
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" id="hovered3" href="services.html">Nuestros Servicios</a>
            <a class="dropdown-item" id="hovered3" href="history.html">Nuestra historia</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="border-color: #28a745">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
</nav>
    <br>
    <h2 style="text-align: center; font-style: oblique; font-family: auto; font-size: -webkit-xxx-large; text-shadow: 0 0 black;text-decoration: overline; text-decoration-thickness: from-font; text-decoration-color: darkorange;">Nuestros Servicios... </h2>
    
    <div id="hovered1" class="card mb-3" style="margin-left: 25px; margin-right: 100px;">
      <a href="frigorifico.html">
        <img class="card-img-top" src="FruticolaVereda\Statics\Frio\termometro.jpg" style="width: 100%; height: 300px" alt="Card image cap">
      </a>      
            <div class="card-body">
                <a href="frigorifico.html" style="text-align: -webkit-center; text-transform: uppercase; font-family: fantasy;"> <h5  class="card-title" >Cámaras frigoríficas </a><img src="FruticolaVereda\Statics\Frio\nieve.jpg" style="width: 100px; vertical-align: bottom;"></h5>
                <p class="card-text" style="font-weight: 500;">Ideal para mantener productos que requieren entre 1°C y 5°C o más, según necesidad. Tres camaras frigoríficas con gran capacidad y accesibilidad. <br> Ingrese sus productos por el tiempo que sea necesario y retirelos cuando los necesite, usted manda.</p>
                <p class="card-text"><small class="text-muted">Consultar disponibilidad</small></p>
            </div>
    </div>

    <div id="hovered2" class="card mb-3" style="margin-left: 25px; margin-right: 100px;">
      <a href="espacio.html">
        <img class="card-img-top" src="FruticolaVereda\Statics\espacio\espacio.jpg" style="width: 100%; height: 300px" alt="Card image cap">
      </a>      
            <div class="card-body">
                <a href="espacio.html" style="text-align: -webkit-center; text-transform: uppercase; font-family: fantasy;"><h5 class="card-title">¡Más espacio! </a><img src="FruticolaVereda\Statics\espacio\extraSpace.png" style="width: 100px; margin-left: 20px ;vertical-align: bottom;"></h5>
                <p class="card-text" style="font-weight: 500;">¿Necesita espacio físico para proteger sus productos? Nos encargamos nosotros! <br> Resguarde sus bienes bajo techo, sin preocupaciones, bajo camaras de vigilancia y sistema de alarma monitoreada 24/7. <br> </p>
                <p class="card-text"><small class="text-muted">Consultar disponibilidad</small></p>
            </div>
    </div>

    <div id="hovered3" class="card mb-3" style="margin-left: 25px; margin-right: 100px;">
      <a href="produccion.html">
        <img class="card-img-top" src="FruticolaVereda\Statics\Produccion\prod.jpg" style="width: 100%; height: 300px" alt="Card image cap">
      </a>      
            <div class="card-body">
                <a href="produccion.html" style="text-align: -webkit-center; text-transform: uppercase; font-family: fantasy;"><h5 class="card-title">Procesado y embalado </a><img src="FruticolaVereda\Statics\Produccion\proceso.PNG" style="width: 100px; margin-left: 20px; ;vertical-align: bottom;"></h5>
                <p class="card-text" style="font-weight: 500;">La experiencia nos respalda! mas de 40 años en el rubro dedicados a la selección y al cuidado de frutas frescas para que llegue de la quinta a su mesa en su estado más puro. <br> Además, contamos con servicio de báscula con capacidad de hasta 50.000 kg y así poder llevar un control sobre la carga. <br> </p>
                <p class="card-text"><small class="text-muted">Consultar disponibilidad</small></p>
            </div>
    </div>

    <div id="hovered4" class="card mb-3" style="margin-left: 25px; margin-right: 100px;">
      <a href="salsa.html">
        <img class="card-img-top" src="FruticolaVereda\Statics\salsa\toamto.jpg" style="width: 100%; height: 300px;" alt="tomatoes">
      </a>      
            <div class="card-body">
                <a href="salsa.html" style="text-align: -webkit-center; text-transform: uppercase; font-family: fantasy;"> <h5  class="card-title" >Salsa de tomate artesanal </a><img src="FruticolaVereda\Statics\salsa\mini.jpg" style="width: 100px; vertical-align: bottom;  margin-left: 20px;"></h5>
                <p class="card-text" style="font-weight: 500;">Nos gustan las cosas bien hechas y una salsa de tomate para tus comidas no nos iba a faltar. <br> Hecha con tomates seleccionados y siguiendo la receta de la abuela para que usted tenga una salsa de primera calidad como la hecha en casa. <br>
                   Y ahora puede optar por botellas de 500g o de 1000g. </p>
                <p class="card-text"><small class="text-muted">Consultar disponibilidad</small></p>
            </div>
    </div>

    <div>
      <a button  href="C:\Users\MI EQUIPO\Desktop\Programacion\FV\arhivo\templates\index.html" type="button" class="btn btn-primary" style="margin: 25px; color: black; background-color: chartreuse; border-color: chartreuse; font-weight: 600;">Volver</button>  </a>            
    </div>
   
    <div class="jumbotron jumbotron-fluid" style="padding: 0.5rem 1rem; margin-bottom: auto; background: #afb3b34a">
      <div class="container">
        <p class="lead" style="font-size: smaller; text-align: justify; text-align-last: center; font-weight: 500;">
           © Frutícola Vereda S.A. 2023 - All rights reserved - Web development by Rodrigo Vereda 
        </p>
           <div class="social">
            <ul>
                <li><a href="https://www.facebook.com/rodri.vereda" class="icon-facebook2"></a></li> 
                <li><a href="https://www.linkedin.com/in/rodrigo-vereda-72a024227" class="icon-linkedin2"></a></li>
                <li><a href="https://www.instagram.com/rodrii_vereda?igshid=YmMyMTA2M2Y=" class="icon-instagram"></a></li>
                <li><a href="https://wa.me/+5492634213506" class="icon-whatsapp"></a></li>
                <li><a href="mailto:roodrii_v@yahoo.com" class="icon-envelop"></a></li>
            </ul>
    
           </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>
